
#addEmployee {
    margin-top: 70px;
}

#annualSalary {
    width: 278px;
}

body {
    padding-left: 100px;
    padding-right: 100px;
}

.delete {
    width: 189px;
}

#deleted {
    width: 202px;
}

#employees {
    margin-top: 100px;
}

#firstName {
    width: 220px;
}

h1 {
    text-align: center;
    color: white;
}

#h1-div {
    background-color: #626263;
    padding-top: 30px;
    padding-bottom: 30px;
}

#id {
    width: 110px;
}

.inputs {
    width: 235px;
    height: 25px;
    border-color: black;
    font-size: 20px;
}

#lastName {
    width: 242px;
}

#submitButton {
    float: right;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1px solid black;
    padding: 6px;
}

thead {
    background-color: #999999;
}

#title {
    width: 171px;
}

tr:nth-child(even){
    background-color: #d9d9d9;
}
